# Experiment Logs
logs/

wandb/

# Development
.vscode/
.dvc/tmp/
.dvc/cache/
.vs-liveshare-keychain

.bash_history
.cache/
.local/
.npm/
.python_history
.viminfo

__pycache__
*.egg-info
*.pem

# virtual environment
venv/